@import "tailwindcss";

@theme {
  --font-jersey: "Jersey 10", sans-serif;
  --font-karla: "Karla", sans-serif;
}

@utility text-stroke-lg {
  -webkit-text-stroke: 2px black;
  paint-order: stroke fill;
}

.text-gradient-yellow {
  background: linear-gradient(180deg, #FFE100 0%, #FF8C00 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body {
  margin: 0;
  background-color: white;
  color: black;
  font-family: var(--font-karla);
}